# WordPress core
/wp-admin/
/wp-includes/
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php

# Content
/wp-content/uploads/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/languages/
/wp-content/plugins/*
/wp-content/themes/*
!/wp-content/themes/basikwall/ # Exception for your custom theme

# Configuration and Database
wp-config.php
*.sql # Database backups

# Other common files to ignore
.DS_Store
.env
.idea/
.sass-cache/
/node_modules/
/vendor/
/gulpfile.js
/package.json
/package-lock.json
/composer.json
/composer.lock

.htaccess
.htaccess.lock-1637353a82ccf-213f7a2b-eb895
.htaccess.lock-329a85f5d31ad-213f7a2b-eb895
.htaccess.phpupgrader.69128178
.htaccess.phpupgrader.c246cc64
.htaccess.phpupgrader.d62ba301
.htaccess.phpupgrader.initial
Basikwall_Temp/
bw_catalog/
error_log
unofficial/
website_43cac7c4/